/* Base Styles */
.screen {
    display: flex;
    gap: 15px;
    padding: 20px;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
}

.input,
.output {
    margin-bottom: 20px;
    background-color: #f8f9fa;
    padding: 15px;
    color: black;
    border-radius: 8px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}

.output {
    height: 40%;
}

.output p {
    background-color: #e9ecef;
    padding: 10px;
    border-radius: 5px;
    font-family: monospace;
}

input[type="textarea"] {
    border-radius: 8px;
    padding: 10px;
    color: black;
}

/* Header Styles */
.header {
    background-color: #007bff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.header h1 {
    font-size: 24px;
    margin: 0;
}

.header button {
    background-color: #fff;
    color: #007bff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.header button:hover {
    background-color: #f0f0f0;
}

/* Buttons */
button {
    margin: 10px 0;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #465668;
}

.run-code-btn,
.save-code-btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.run-code-btn {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    margin: 3px;
}

.run-code-btn:disabled,
.save-code-btn:disabled {
    background-color: #6c757d;
    /* Gray out the button when disabled */
}

.save-code-btn {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
}

/* Responsive Design */
@media (max-width: 1024px) {
    .screen {
        flex-direction: column;
        align-items: center;
    }

    .header {
        flex-direction: column;
        gap: 10px;
    }

    .box,
    .screen {
        width: 100%;
    }

    .box,
    .input,
    .output {
        width: 90%;
        max-width: 100%;
    }
}

@media (max-width: 768px) {
    .header h1 {
        font-size: 20px;
        text-align: center;
    }

    .run-code-btn,
    .save-code-btn {
        font-size: 14px;
        padding: 8px 15px;
    }

    .input,
    .output {
        padding: 10px;
        height: 30vh;
    }

    /* Adjust Editor Height for Small Screens */
    .screen Editor {
        height: 60vh;
        width: 100%;
    }
}

@media (max-width: 480px) {
    .header {
        flex-direction: column;
        text-align: center;
    }

    .header h1 {
        font-size: 18px;
    }

    .screen {
        padding: 10px;
    }

    .input,
    .output {
        color: black;
        padding: 8px;
        font-size: 14px;
    }

    /* Buttons */
    button {
        padding: 8px 12px;
        font-size: 14px;
    }

    .run-code-btn,
    .save-code-btn {
        padding: 6px 10px;
        font-size: 12px;
    }
}